<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Jodel</string>
	<key>CFBundleExecutable</key>
	<string>Jodel</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.go-tellm.tellm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Jodel</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.18</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jodel</string>
				<string>fb276968692456003</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTAppStoreToolsBuild</key>
	<string>10B63</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>16A366</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>12.0</string>
	<key>DTSDKBuild</key>
	<string>16A366</string>
	<key>DTSDKName</key>
	<string>iphoneos12.0</string>
	<key>DTXcode</key>
	<string>1000</string>
	<key>DTXcodeBuild</key>
	<string>10A255</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1157b6a6f14e36b26628851ecd9cf86ef34e77dc</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>276968692456003</string>
	<key>FacebookDisplayName</key>
	<string>Jodel</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Necessary to share photos with Jodlers around you</string>
	<key>NSLocationUsageDescription</key>
	<string>Necessary to show Jodels around you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necessary to show Jodels around you</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Necessary for video capture with audio</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Necessary to keep your favourite photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necessary to keep your favourite photos</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham-BoldItalic.otf</string>
		<string>Gotham-BookItalic.otf</string>
		<string>Gotham-LightItalic.otf</string>
		<string>Gotham-MediumItalic.otf</string>
		<string>Gotham-Medium.otf</string>
		<string>Gotham-Light.otf</string>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-Book.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>JDLCreateJodelShortcutTitle</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.go-tellm.tellm.createPost</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCapturePhoto</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>JDLCreatePhotoShortcutTitle</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.go-tellm.tellm.createPhoto</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone6,1</string>
		<string>iPhone6,2</string>
		<string>iPhone7,2</string>
		<string>iPhone8,1</string>
		<string>iPhone8,4</string>
		<string>iPod7,1</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>branch_app_domain</key>
	<string>jde6.app.link</string>
	<key>branch_key</key>
	<string>key_live_jcESXFnKwxb53gafuWSRFijozto4BLB5</string>
	<key>lokalise_api_token</key>
	<string>dc03f4cdc01d542a4fced4ff1fd408519ce630c1</string>
	<key>lokalise_project_id</key>
	<string>884679825a7491cc954d04.18022528</string>
</dict>
</plist>
